.main {
    background-color: #0079BF;
    flex-grow: 1;
}

.main_content {
    display: flex;
    justify-content: space-between;
}

.title_task {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 12px 0 12px 15px;
}